* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
}

/* header with background and picture section */

header {
    background-size: cover;
    background-position: center center;
    height: 80vh;
    background-image: url(images/donation13.jpg);
    opacity: 6;

}

.text-section {
    position: relative;
    /* width: 50%; */
    margin: auto 0;
    text-align: center;
    /* position: static; */
    padding-left: 100px;
    padding-right: 100px;

    color: rgb(251, 249, 249);
    padding-top: 10%;
    font-size: 1.5rem;
    line-height: 0.55in;



}

.DOnate-now-button {

    text-decoration: none;
    color: white;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: red;
    border-radius: 15px;

}

/* Donate today section */
.Donate,
Donate Today {
    padding-top: 50px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5inch;
}

#today {
    font-size: 50px;
    padding-bottom: 60px;
}

#pid {
    font-size: 20px;
    padding-left: 130px;
    padding-right: 130px;
    font-weight: 50;
    padding-bottom: 20px;
}

.amount-tk {
    height: 300;
    width: 300;
    text-align: center center;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.box {
    height: 130px;
    width: 160px;
    background-color: antiquewhite;
    /* border: 0.5px solid; */
    text-align: center;
    padding-top: 40px;
    margin: 20px;



}

.amount-tk box {
    justify-content: center;
}

.other-amount {

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;


    border-bottom: 1px solid rgb(192, 185, 185);
}

input {
    width: 60%;

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}


input,
placeholder {
    text-align: center;
    font-size: 30px;
}

#enter your amount {

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.button {
    padding: 30px;
}

/* <!-- our donate plan section --> */
#Our-donate-plan {
    padding-top: 100px;
    padding-bottom: 100px;
}

.donate-plan {
    text-align: center;
}

.donate-plan h1 {
    font-size: 1.5rem;
    padding-bottom: 30px;
    text-align: center;
}

/* card content */

.iconbox-content {
    height: 350px;
    width: 350px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;



}

.iconbox .iconbox-content {
    float: left;
    padding-left: 30px;
    justify-content: center;
    margin-left: 60px;

    margin-top: 30px;
}

.iconbox-content img,
h3,
p {
    padding: 15px;
}

#bg {
    background-color: rgb(109, 237, 169);
}

#bg1 {
    background-color: rgb(102, 231, 102);
}

#bg2 {
    background-color: rgb(238, 178, 178);
}

/* <!-- how to contribute part --> */
.htc {
    margin-top: 200px;
    padding-top: 200px;


}

#hd1 {
    font-weight: bold;

    font-size: 2rem;
}

.half-width {
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;

}

.half-width img {
    /* width: 120%; */
    height: 120%;
    width: 120%;
}

.second part {
    padding-left: 10px;
    margin-left: 25px;
}



.flex-50 {
    flex-basis: 50%;
}

.hello {
    padding-left: 100px;
}

.hello h1 {
    font-size: 40px;
}

#btn {
    margin-top: 120px;
}

/* <!-- get my update part --> */
.update {
    display: block;
    padding-top: 500px;
}

.update h1 p {
    font-size: 2.5rem;
}

.middle {
    font-size: 60px;
    padding-left: 458px;
    padding-right: 130px;
    font-weight: 50;
    padding-bottom: 20px;
}

.middle-1 {
    font-size: 20px;
    padding-left: 350px;
    padding-right: 130px;
    font-weight: 50;
    padding-bottom: 20px;
}

.box:hover {
    background-color: red;
    color: aliceblue;
}

.box-1 {
    margin-top: 50px;
    margin-left: 300px;
    height: 300px;
    width: 850px;
    background-color: rgb(28, 26, 26);
    border-radius: 8px;


}

.subscribe {
    margin-left: 165px;
    margin-top: 91px;
}

#sub {
    background-color: red;
    margin-left: 320px;
    border-radius: 8px;
    width: 200px;
    color: white;
}

/* fotter part start */
footer {
    background-color: rgb(0, 0, 0);
    height: 171px;
    text-align: center;

}

.footer-div h1 {
    font-family: 'Brush Script MT', cursive;
    ;
    margin-top: 30px;
    padding-top: 50PX;
    color: red;
    text-align: center center;
}

.footer-div P {
    color: WHITE;

}